.container-creare-activity{

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.barActivity{
    background-color: rgba(255, 253, 253, 0.301);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 0px;     
    margin-left: 5px;
}

.container-formulario{
    background-color: rgba(240, 255, 255, 0.555);
    display: block;
    display: flex;  
    width: 400px;
    height: 400px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 70px;
    margin-top: 12px;
    margin-left: 500px; 
    border-radius: 20px;
    
}

.formulario{
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
    color: #000000;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    opacity: 50%;
    margin: 5px;
}

.msg-error {
    color:red
}

.btnCountry{
    background-position: center;
    display: flex;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset   2px 2px 2px 0px rgba(255,255,255,.5), 
                        7px 7px 20px 0px rgba(0,0,0,.1),
                        4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
   
.btn-1 {
    background: rgb(65, 54, 83);
    background: linear-gradient(0deg, rgb(84, 66, 112) 0%, rgb(85, 69, 99) 100%);
    border: none;
}
   
.btn-1:before {
    height: 0%;
    width: 2px;
}
   
.btn-1:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
                inset -4px -4px 6px 0 rgba(255,255,255,.2),
                inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
