.cont-Detail{
    background-image:url('D:\Users\ZADI9\Desktop\PI-Countries-main\client\src\img\pexels-lara-jameson-8828354.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
}

.Bar{
    background-color: rgba(255, 253, 253, 0.301);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 0px;     
    margin-left: 5px;
}
.title{
    font-family:"Impact";
    font-size: 30px;
    font-weight: bold;
    color:#232224;
    text-decoration: none; 
    
}
.nav {
    display: flex;
    justify-content: space-between;
}